.dropdown {
  width: 205px;
  height: 37px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #d1d1d1;
  color: #5f6b70;
}

.option {
  height: 37px;
}

.fullwidth {
  width: 100%;
}
