.button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  outline: none;
  padding: 0;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}
