.header {
  min-height: 55vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background: rgb(2, 0, 36);
  /* background: linear-gradient(180deg, rgb(0 0 0) 0%, rgba(2, 0, 45, 60%) 100%); */
  color: white;
}

.headerInner {
  padding: 40px 0;
  display: flex;
  gap: 50px;
}

.image {
  height: 400px;
  width: 272px;
}

.overlay {
  background-image: linear-gradient(
    to right,
    rgb(13 10 32) 150px,
    rgb(12 10 32 / 70%) 100%
  );
  min-height: 55vh;
}
